<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <div class="p-5 mt-4 bg-secondary-theme text-theme-prim  ary">
            <h1 class="text-white text-center"> Terms & Conditions </h1>
            <p>She then took a turn. Bower wrote about how her son's photos never got "as many likes" as her other photos, and how she had struggled with that for years.</p>
            <p>She then took a turn. Bower wrote about how her son's photos never got "as many likes" as her other photos, and how she had struggled with that for years.</p>
            <p>She then took a turn. Bower wrote about how her son's photos never got "as many likes" as her other photos, and how she had struggled with that for years.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div >
    </div>
</section>
