<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img class="card-img-top img-fluid" src="https://fastly.picsum.photos/id/55/4608/3072.jpg?hmac=ahGhylwdN52ULB37deeMZX6T_G7NiERtoPhwydMvUKQ" alt="">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-sucess text-center ml-2"> Design </small>
                    <small class="bg-light text-info text-center ml-2"> Design </small>
                    <small class="bg-light text-warning text-center ml-2"> Design </small>
                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <P>Thankful for [redacted] today. 
                        My [redacted] was just the best baby....cuddly and easy...a hard toddler...always on the move and slow to talk which led to lots of crying....and one of the most helpful and sweet hearted little boys. 
                        He is quiet except when he’s not....overflowing with unique personality. 
                        He hates the car and is a complete homebody. He loves art and sports and is quick with a joke. He loves organizing and quality time and says one day he is gonna be a daddy to one hundred babies 😂 
                        And when he hugs and kisses you, you believe it.</P>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-form></app-comment-form>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>